<template>
    <v-card>
        <v-card-title>
            <h2>Form Timbangan</h2>
        </v-card-title>

        <v-alert :value="true" type="error" v-if="!isOnline">
            Anda tidak dapat mengakses halaman ini dalam keadan offline, silahkan hubungkan dengan internet.
        </v-alert>

        <form v-if="isOnline">
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field v-model="tanggal" label="Tanggal" box disabled></v-text-field>
                    </v-flex>
                    <v-flex xs10>
                        <v-autocomplete
                                v-model="customer"
                                :items="customer"
                                :filter="customFilter"
                                item-text="nama"
                                label="Customer">
                        </v-autocomplete>
                    </v-flex>
                    <v-flex xs2>
                        <v-layout row justify-center>
                            <v-dialog v-model="dialog" persistent max-width="600px">
                                <v-btn slot="activator" color="primary">
                                    <v-icon dark>
                                        add
                                    </v-icon>
                                    Pelanggan Baru
                                </v-btn>
                                <v-card>
                                    <v-card-title>
                                        <span class="headline">Data Pelanggan Baru</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-container grid-list-md>
                                            <v-layout wrap>
                                                <v-flex xs12 sm12 md12>
                                                    <v-text-field v-model="namaBaru" label="Nama Pelanggan*" required></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" flat @click.prevent="closeDialog">
                                            Tutup
                                        </v-btn>
                                        <v-btn color="blue darken-1" flat @click.prevent="saveCustomer">
                                            Simpan
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-layout>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                                v-model="jumlah"
                                label="Jumlah Keranjang"
                                type="number"
                                required>
                        </v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="tara" label="Tara" box disabled></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                                v-model="bruto"
                                label="Berat Bruto"
                                suffix="Kg"
                                required>
                        </v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="netto" label="Netto" suffix="Kg" box disabled></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-currency-field v-model="harga" label="harga" prefix="Rp." box disabled></v-currency-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-currency-field v-model="total" label="total" prefix="Rp." box disabled></v-currency-field>
                    </v-flex>
                </v-layout>
                <v-layout justify-center>
                    <v-flex xs2>
                        <v-btn color="primary" @click.prevent="saveNota()"><v-icon>save</v-icon>&nbsp;&nbsp;Simpan</v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </form>
    </v-card>
</template>
<script>
    import moment from 'moment'

    export default {
      data () {
        return {
          'dialog': false,
          'tanggal': null,
          'jumlah': '',
          'tara': 0,
          'bruto': '',
          'netto': 0,
          'harga': 2750,
          'total': 0,
          'namaBaru': '',
          'customer': [],
          'isOnline': navigator.onLine
        }
      },
      methods: {
        customFilter (item, queryText) {
          const textOne = item.nama.toLowerCase()
          const searchText = queryText.toLowerCase()

          return textOne.indexOf(searchText) > -1
        },
        hitung () {
          this.netto = this.bruto - this.tara
          this.total = this.netto * this.harga
        },
        closeDialog () {
          this.namaBaru = ''
          this.dialog = false
        },
        saveCustomer () {
          this.$root.$firebaseRefs.customer.push(
            {
              'nama': this.namaBaru,
              'created_at': new Date().getTime()
            })
            .then(this.closeDialog())
        },
        saveNota () {
          this.$root.$firebaseRefs.nota.push(
            {
              'customer': this.customer,
              'jumlah': this.jumlah,
              'tara': this.tara,
              'bruto': this.bruto,
              'netto': this.netto,
              'harga': this.harga,
              'total': this.total,
              'created_at': new Date().getTime()
            })
            .then(this.$router.push('/'))
        },
        loadData () {
          if (navigator.onLine) {
            this.saveCustomerToCache()
            this.customer = this.$root.customer
          } else {
            this.customer = JSON.parse(localStorage.getItem('customer'))
          }
        },
        saveCustomerToCache () {
          this.$root.$firebaseRefs.customer.orderByChild('created_at').once('value', (snapchot) => {
            let cachedCustomers = []
            snapchot.forEach((customerSnapchot) => {
              let cachedCustomer = customerSnapchot.val()
              cachedCustomer['.key'] = customerSnapchot.key
              cachedCustomers.push(cachedCustomer)
            })
            localStorage.setItem('customer', JSON.stringify(cachedCustomers))
          })
        }
      },
      mounted () {
        this.tanggal = moment().format('DD/MM/YYYY')
        this.loadData()
      },
      watch: {
        jumlah: function (val) {
          this.tara = val * 7
        },
        tara: function () {
          this.hitung()
        },
        bruto: function () {
          this.hitung()
        },
        navigator: function () {
          this.isOnline = navigator.onLine
        }
      }
    }
</script>