<template>
    <v-card>
        <v-card-title>
            <h2>Daftar Timbangan</h2>
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Pencarian..."
                    single-line
                    hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="header"
                :items="nota"
                :search="search">
            <template slot="items" slot-scope="props">
                <td width="10%">{{ formatDate(props.item.created_at) }}</td>
                <td width="10%">{{ formatTime(props.item.created_at) }}</td>
                <td width="50%">{{ props.item.customer }}</td>
                <td class="text-xs-right" width="15%">{{ formatPrice(props.item.netto) }}</td>
                <td class="text-xs-right" width="15%">{{ formatPrice(props.item.total) }}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Pencarian dengan kata kunci "{{ search }}" tidak ditemukan.
            </v-alert>
        </v-data-table>
    </v-card>
</template>
<script>
    import moment from 'moment'

    export default {
      methods: {
        formatPrice (value) {
          let val = (value / 1).toFixed(2).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
        },
        formatDate (value) {
          return moment(value).format('DD/MM/YYYY')
        },
        formatTime (value) {
          return moment(value).format('HH:mm:ss')
        },
        loadData () {
          if (navigator.onLine) {
            this.saveNotaToCache()
            this.nota = this.$root.nota
          } else {
            this.nota = JSON.parse(localStorage.getItem('nota'))
          }
        },
        saveNotaToCache () {
          this.$root.$firebaseRefs.nota.orderByChild('created_at').once('value', (snapchot) => {
            let cachedNotas = []
            snapchot.forEach((notaSnapchot) => {
              let cachedNota = notaSnapchot.val()
              cachedNota['.key'] = notaSnapchot.key
              cachedNotas.push(cachedNota)
            })
            localStorage.setItem('nota', JSON.stringify(cachedNotas))
          })
        }
      },
      data () {
        return {
          'search': '',
          'header': [
            { text: 'Tanggal', value: 'tanggal' },
            { text: 'Jam', value: 'jam' },
            { text: 'Customer', value: 'customer' },
            { text: 'Berat Netto (Kg)', value: 'netto' },
            { text: 'Total', value: 'total' }
          ],
          'nota': []
        }
      },
      mounted () {
        this.loadData()
      }
    }
</script>