<template>
    <div id="app">
        <v-app id="inspire">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Nota Prigi
                </v-toolbar-title>

                <v-spacer></v-spacer>

                <router-link to="/">
                    <v-btn icon>
                        <v-icon v-if="main">refresh</v-icon>
                        <v-icon v-if="!main">close</v-icon>
                    </v-btn>
                </router-link>
                <router-link to="/create" v-if="main">
                    <v-btn icon><v-icon>add</v-icon></v-btn>
                </router-link>
            </v-toolbar>
            <v-content>
                <v-container>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
    export default {
      name: 'app',

      computed: {
        main () {
          return this.$route.path === '/'
        }
      }
    }
</script>